@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
html {
  height: 100%;
}
 body {
  margin:0;
  height:100%;
  font-family: 'PT Sans', sans-serif;
  font-size: 22px;
  line-height: 26px;
  background-color: #F2F2F2;
  color: #000000;
 }
 img {
  max-width: 100%;
  height:auto;
  object-fit: contain;
 }
 .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.page-container {
  margin: 0 auto;
  width:1200px;
  min-height: 100%;
  display:flex;
  flex-direction: column;
  background-color: #FFFFFF;
}
.page-header {
  padding-left:70px;
  padding-right:70px;
}
.main-nav {
  display:flex;
  max-width:1060px;
}
.logo {
  display: block;
  margin:0;
}
.nav-list {
  margin:0;
  padding: 0;
  list-style-type: none;
  min-width:455px;
  display:flex;
  flex-wrap: wrap;
  align-items: center;
}
.nav-user {
  min-width:310px;
  margin-left: auto;
}
.nav-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  text-decoration: none;
  color:#000000;
  display: block;
  padding: 20px 16px;
 }
.nav-user .nav-link {
  min-width: 22px;
  min-height: 32px;
  justify-content: flex-end;
}
.nav-here {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  background-color: #756157;;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  padding: 8px 34px;
 }
.main-container {
  flex-grow: 1;
  margin: 0;
  padding: 0;
 }
.hero {
  background-image: url("../images/index-background.jpg");
  background-color: 82B3D3;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  text-align:center;
  padding-top:51px;
  padding-bottom: 82px;

}
.hero-img {
  display: block;
  margin: 0 auto;
}
.benefits-lead {
  padding-top:69px;
  padding-bottom:69px;
}
.benefits h2 {
  max-width:620px;
  margin:0 auto;
  margin-bottom:25px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}
.benefits-description {
  max-width: 652px;
  margin: 0 auto;
  margin-bottom: 90px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}
.benefits-list {
  margin:0;
  padding: 0;
  list-style-type: none;
  display:flex;
  flex-wrap: wrap;
}
.benefits-item {
  box-sizing: border-box;
  width:400px;
  min-height: 385px;
  padding: 112px 85px;
  text-align:center;
}
.benefits-item-img {
  width:1200px;
  display:flex;
  padding:0;
  color:#FFFFFF;
  background-color: #82B3D3;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}
.benefits-img {
  display:block;
  margin:0;
}
.benefits-column {
  padding: 102px 85px;
}
.benefits-item h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  width:175px;
  margin:0 auto;
  margin-bottom:62px;
}
.benefits-reasons {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin:0;
  color: #333333;
}
.benefits-item-img p {
  margin:0;
}
.blue {
  background-color: rgba(131, 179, 211, 0.2);
}
.light-blue {
  background-color: rgba(131, 179, 211, 0.12);
}
.services-lead {
  padding-top:64px;
  padding-bottom:64px;
}
.services h2 {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  max-width:505px;
  margin: 0 auto;
  margin-bottom:20px;
}
.services-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  max-width:490px;
  margin:0 auto;
  color: #333333;
}
.services-list {
  margin:0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}
.services-item {
  box-sizing: border-box;
  width:400px;
  padding:81px 85px;
}
.services-item h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}
.services-text {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  max-width:230px;
  margin:0;
  color: #333333;
}
.search {
  text-align: center;
  padding: 96px 0;
}
.search h2 {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  max-width:297px;
  margin:0 auto;
  margin-bottom: 20px;
}
.search-description {
  font-size: 22px;
  line-height: 26px;
  max-width:592px;
  margin: 0 auto;
  margin-bottom:54px;
  color: #333333;
}
.search-button {
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  padding: 8px 50px;
  max-width:376px;
  border:none;
}
.newsletter {
  background-image: url("../images/subscribe-background.jpg");
  background-color: #000000;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding: 96px 258px 104px;
}
.newsletter h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
  max-width:404px;
  margin:0 auto;
  margin-bottom: 20px;
}
.newsletter-description {
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
  max-width:475px;
  margin: 0 auto;
  margin-bottom:54px;
}
.submit-button {
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #82B3D3;;
  text-decoration: none;
  text-transform: uppercase;
  border:none;
}
.contacts {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding-left: 70px;
  padding-right: 70px;
  padding-top:40px;
  padding-bottom:30px;
  align-items: center;
}
.contacts-list {
  margin:0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  width:160px;
  align-items: center;
}
.contacts-item {
  width:48px;
  height:40px;
}
.contacts-link {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color:#000000;
  width:335px;
}
.htmlacademy-link {
  width:115px;
  display: flex;
  align-items: center;
}

/*Стили для catalog.html*/

.inner-header {
  background-image: url("../images/filter-background.jpg");
  background-color: #000000;
  background-size: cover;
  background-repeat: no-repeat;
  color:#FFFFFF;
  padding: 35px 70px 70px;
}
.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin-top:0;
  margin-bottom:8px;
}
.breadcrumbs {
  font-size: 16px;
  line-height: 21px;
  display:flex;
  margin:0;
  padding:0;
  list-style-type: none;
  margin-bottom:40px;
  min-width:114px;
}
.breadcrumbs-link {
  display: block;
  color: #FFFFFF;
  text-decoration: none;
  min-width: 12px;
  min-height: 12px;
}
.breadcrumbs-item:not(:last-child) {
  margin-right: 10px;
}
.hotel-filter {
  display:flex;
}
hotel-filter-group {
  width:151px;
}
.hotel-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  padding:0;
}
.filter-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color:  rgba(131, 179, 211, 0);
  border:none;
}
.filter-button-submit {
  background-color: #82B3D3;
}
.buttons {
  display:flex;
  flex-direction:column;
}
.hotel-cards {
  box-sizing: border-box;
  padding:50px 70px 60px;
}
.control {
  font-size: 18px;
  line-height: 23px;
}
.hotel-search {
  display:flex;
  width:1060px;
  justify-content: space-between;
  align-items: center;
  margin-bottom:40px;
}
.hotels-search-text {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  width:338px;
  margin:0;
}
.select-control {
  font-size: 18px;
  line-height: 21px;
  width:292px;
}
.appearance {
  margin: 0;
  padding:0;
  list-style-type: none;
  display:flex;
  max-width:200px;
}
.appearance-item {
  width:48px;
  margin-right: 8px;
  height: 48px;
}
.appearance-item:last-child {
  margin-right: 0;
}
.hotel-cards-list {
  display:grid;
  grid-template-columns: repeat(3, 340px);
  margin:0;
  padding:0;
  list-style-type: none;
  margin-bottom: 80px;
  gap:20px;
}
.hotel-cards-item {
  padding: 19px;
  display: grid;
  grid-template-columns: repeat(2, 140px);
  grid-template-rows: 212px 1fr;
  gap:20px;
  border-radius: 4px;
  border: 1px solid #E6E6E6;
  align-items: flex-start;
}
.hotel-cards-img {
  grid-column: 1 / -1;
  display:block;
  margin:0;
}
.hotel-cards-title {
  grid-column: 1 / -1;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  margin: 0;
}
.hotel-cards-link {
  grid-column: 1 / -1;
  text-decoration: none;
  color: #000000;
}
.hotel-description {
  font-size: 18px;
  line-height: 21px;
}
.hotel-price {
  justify-self: end;
}
.button-about {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  padding: 8px;
  background-color: #756157;
  color: #FFFFFF;
}
.button-favourites {
  background-color: #82B3D3;
  text-transform: uppercase;
  font-weight: 700;
  color: #FFFFFF;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  padding: 8px;
  border: none;
}
.button-favourites-active {
  background-color: #7DB54F;
}
.stars-list {
  margin:0;
  padding:0;
  list-style-type: none;
  display:flex;
  align-items: center;
  max-width:140px;
  gap:6px;
}
.star-img {
  display:block;
  margin: 0;
}
.button-raiting {
  background-color: #F2F2F2;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  border-radius: 4px;
  padding: 9px 22px 8px 23px;
  font-weight: 400;
}
.pagination {
  margin: 0;
  padding:0;
  list-style-type: none;
  display:flex;
  width:1060px;
  gap: 8px;
}
.pagination-item {
  min-width:60px;
}
.pagination-link {
  display:block;
  box-sizing: border-box;
  width:60px;
  height:60px;
  padding:13px 25px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  align-items: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #82B3D3;
  text-decoration: none;
}
.ten {
  padding: 13px 19px;
}
.pagination-current {
  color:#000000;
  background-color: #F2F2F2;
}
.pagination-ellipsis {
  color:#000000;
  background-color: transparent;
}
.newsletter-inner {
  background-color: #FFFFFF;
  text-align: center;
  padding:96px 258px 104px;
}
.newsletter-inner h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;;
  max-width:404px;
  margin:0 auto;
  margin-bottom: 20px;
}
.newsletter-description-inner {
  color: #333333;
  font-size: 22px;
  line-height: 26px;
  max-width:475px;
  margin: 0 auto;
  margin-bottom:54px;
}
